# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.env
# /Categories/migrations/**
# /login/migrations/**
# /Products/migrations/**
# /ProductTypes/migrations/**
# /signup/migrations/**
# /Departments/migrations/**